/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

/* COLOR */

:root{
    --ArrierePlan: rgba(243, 229, 215, 1);
    --Blanc: rgba(255, 255, 255, 1);
    --Sable : rgba(227, 221, 215, 1);
    --Chocolat: rgba(133, 70, 50, 1);
    --Terre: rgba(95, 86, 77, 1);
    --Pierre: rgba(49, 46, 44, 1);
    --Rose: rgba(255, 247, 251, 1);
    --Fushia: rgba(122, 40, 78, 1);
}

/* FONTS */

font-face{
    font-family: 'DM Sans', truetype;
    src: url('assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
}

font-face{
    font-family: 'DM Sans Italique', truetype;
    src: url('assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf');
}

/* GENERAL */

body{
    background-color: var(--ArrierePlan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure{
    margin: 0 0 4rem 0;
}

section:not:nth-child(-n + 2){
    margin-top: 3.2rem;
}

section:not(:first-child):not(:last-child){
    margin-bottom: 3.2rem;
}

section:not(:last-child){
    padding-bottom: 3.2rem;
}

.container{
    border-radius: 2.4rem;
}

img, .preparation{
    border-radius: 1.2rem;
}

section.ingredients, section.instructions{
    border-bottom: 0.1rem solid var(--Sable);
}

/* TEXTS */

h1, h2, h3,p, a, li, span, .bold{
    letter-spacing: 0;
}

h1, h2, h3{
    color: var(--Pierre);
    margin: 0 0 2.4rem;
}

p, a, li, span, .bold, th{
    color: var(--Terre);
}

h1, h2, h3{
    line-height: 100%;
}

p, span, li, .bold{
    line-height: 150%;
}

p{
    margin: 0;
}

h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 4rem;
}

h2{
    font-family: "Young Serif", serif;
    color: var(--Chocolat);
    font-weight: 400;
    font-size: 2.8rem;
}

h3{
    font-family: "Outfit", serif;
    color: var(--Fushia);
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 1.6rem;
}

p, a, li, span, th, td{
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: left;
}

.bold, td{
    font-weight: 700;

}

td{
    color: var(--Chocolat);
}

/* CONTAINER */

.container{
    background-color: var(--Blanc);
    max-width: 736px;
    padding: 4rem;
    margin: 12.8rem 0;
}

/* IMAGE */

img{
    display: block;
    max-width: 100%;
}

/* LISTS */

ul, ol{
    padding: 0 0 0 2rem;
    margin: 0;
}

li{
    padding-left: 2rem;
}

li:not(:last-child){
    padding-bottom: 1rem;
}

li::marker{
    color: var(--Chocolat);
    font-weight: 600;
    font-size: 1.4rem;

}

section.preparation li::marker{
    color: var(--Fushia);
}

/* PREPARATION */

section.preparation{
    background-color: var(--Rose);
    padding: 2.4rem;
}

/* TABLE */

table{
    margin-top: 2.4rem;
    border-collapse: collapse;
    width: 100%;
} 

tr:not(:last-child){
    border-bottom: 1px solid var(--Sable);
}

th, td{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 50%;
}

th{
    padding-left: 3.2rem;
}

tr:last-child th, tr:last-child td{
    padding-bottom: 0;
}

@media (max-width: 768px){
    
    .container{
        max-width: 616px;
    }
    
}

@media (max-width: 430px){
    
    body, .container{
        max-width: 100%;
        margin: 0;
    }

    .container, img{
        border-radius: 0;
    }
    
    .container{
        padding: 0 0 4rem 0;
    }

    section{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    section:first-child{
        padding-left: 0;
        padding-right: 0;
    }

    .intro h1, .intro p{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .preparation{
        margin-left: 3.2rem;
        margin-right: 3.2rem;
    }

}